<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body Fat</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/loan_payment_calculator.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
          integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
          crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
            integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
            crossorigin="anonymous">
    </script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
            integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);">
    </script>
</head>
<body>
    <header>
        <h1 class="title">Body Fat Calculations</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/"><span class="my-house">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Home</a></li>
            <li>
                <a href="https://natlund.github.io/software_engineering/principles_of_code_structure/">
                Principles Of Code Structure
                </a>
            </li>
            <li><a href="/loan-payment-calculator">Loan Payment Calculator</a></li>
            <li><a href="/cdmc-interest-rate">Constant Daily Monthly Compounding Interest</a></li>
        </ul>
    </nav>
    <div class="content">
        <p>Many gyms have a machine that claims to measure your Body Fat Percentage.  And the same machine will measure
            your weight.</p>

        <p>Suppose you wish to reach a body fat percentage of 15%, the approximate percentage at which most men will
            have visible abdominal muscles.  How much weight will you need to lose in order to reach 15% body fat?</p>

        <p>Assume that the weight you lose will be body fat <strong>only</strong> - you will preserve existing muscle
            mass with resistance training and sufficient protein intake.</p>

        <p>Define:</p>
        <dl>
            <dd>\( m : \) current body mass</dd>
            <dd>\( f : \) current mass of body fat</dd>
            <dd>\( b : \) the desired body fat fraction eg. 0.15 for 15% body fat percentage</dd>
            <dd>\( x :\) the amount of body fat mass to lose in order to reach desired body fat percentage</dd>
        </dl>
        <p>Then:
            $$ \frac{f - x}{m - x} = b $$
        </p>
        <p>Solve for \( x \):
        $$ f - x = b \left( m - x \right) $$
            $$ f - x = b m - b x $$
            $$ f - b m = x - b x $$
            $$ \left( 1 - b \right) x = f - b m $$
            $$ x = \frac{f - b m}{\left(1 - b \right)} $$
        </p>
        <p>Define your <em>current</em> body fat fraction as \(a\).  Then \( f = a m \).  Thus:
        $$ x = \frac{a m - b m}{\left(1 - b \right)} $$
        $$ x = m \left( \frac{ a - b }{1 - b } \right) $$</p>

        <h3>Calculate weight loss required</h3>

        <form hx-post="/body-fat-loss" hx-target="#weight_loss_result">
            <p><label>Current Body Mass: <input type="text" name="m" value="81"></label></p>
            <p><label>Current Body Fat Percentage: <input type="number" name="a_pct" value="20">%</label></p>
            <p><label>Desired Body Fat Percentage: <input type="number" name="b_pct" value="15">%</label></p>
            <button class="button-19" role="button">Calculate</button>
        </form>
        <div id="weight_loss_result">
            <p style="font-size: 20pt;
                       font-family: -apple-system, BlinkMacSystemFont,
                       Roboto, Helvetica, Arial, sans-serif;">
                Weight loss required:  <span style="color: #1899D6;">Click 'Calculate'</span></p>
        </div>
    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>