<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI HTMX Quant</title>
    {% include "styles_and_scripts.html" %}
</head>
<body>
    <header>
        <h1 class="title">FastAPI HTMX Quant</h1>
    </header>
    <nav>
        {% include "navigation_bar.html" %}
    </nav>
    <div class="content">
        <p>Greetings.  I am Nat Lund, a senior software engineer with Python experience in fintech.
            This is a demo website built to explore various technologies.</p>

        <h3>Online Book Of Coding Advice</h3>
        <p>I do really thorough code reviews - deep, comprehensive, and constructive.  Code reviews are an excellent
            medium for spreading engineering knowledge.  As I did many code reviews, I found myself repeating
            the same advice.
            This inspired me to think rigorously and systematically about engineering principles, and write it all down.
        </p>
        <p>The result is a series of essays that form the chapters of a small book:
        <a href="https://natlund.github.io/software_engineering/principles_of_code_structure/">
            Principles Of Code Structure
        </a>
        </p>

        <h3>FastAPI + HTMX For Quant Applications</h3>
        <p><a href="https://fastapi.tiangolo.com/">FastAPI</a> is a state-of-the-art Python web backend.</p>
        <p><a href="https://htmx.org/">HTMX</a> is a radical, newish Javascript library that works by providing
            functionality for a piece of HTML to update itself by calling the backend and replacing itself
            with the HTML returned from the backend.  This allows for modern, interactive, responsive
            web pages, whilst having almost all of the business logic and processing being done on the backend.</p>
        <p>HTMX reputedly works well for web pages of low-to-moderate complexity.
            (A highly interactive web page will still need a heavyweight Javascript framework
            such as React.)  This demo website is an exploration of how far the simplicity of
            FastAPI + HTMX can be pushed to build applications for Quantitative Analysis and
            similar things.</p>

        <p>A simple Quantitative calculation is calculating the payment schedule for a loan:<br>
        <a href="/loan-payment-calculator">Loan Payment Calculator</a>
        </p>

        <p>A numerical solver to determine the constant daily interest rate, that when compounded monthly, gives
        the target Annual Percentage Rate (APR):<br>
        <a href="/cdmc-interest-rate">Constant Daily Monthly Compounding Interest</a>
        </p>
    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>