<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI HTMX Quant</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/static/loan_payment_calculator.css">
</head>
<body>
    <header>
        <h1 class="title">FastAPI HTMX Quant</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/loan-payment-calculator">Loan Payment Calculator</a></li>
        </ul>
    </nav>
    <div class="content">
        <p>A website demonstrating FastAPI and HTMX for Quant applications.
            (And linking to advice on writing good code.)</p>
        <p>FastAPI is a state-of-the-art Python web backend.</p>
        <p>HTMX is a radical newish Javascript library that works by providing functionality
            for a piece of HTML to update itself by calling the backend and replacing itself
            with the HTML returned from the backend.  This allows for modern, interactive, responsive
            web pages with almost all of the business logic and processing being done on the backend.</p>
        <p>HTMX reputedly works well for web pages of low-to-moderate complexity.
            (A highly interactive web page will still need a heavyweight Javascript framework
            such as React.)  This demo website is an exploration of how far the simplicity of
            FastAPI + HTMX can be pushed to build applications for Quantitative Analysis and
            similar things.</p>
        <p>Below is a link to a collection of essays that form a small book of advice that
           I give to fellow software engineers to help them write more readable, maintainable code.</p>
        <a href="https://natlund.github.io/software_engineering/principles_of_code_structure/">
            Principles Of Code Structure
        </a>
        <p>A simple Quantitative calculation is calculating the payment schedule for a loan:</p>
        <a href="/loan-payment-calculator">Loan Payment Calculator</a>
    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>