<ul>
    <li><a href="/"><span class="my-house">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Home</a></li>
    <li>
        <a href="https://natlund.github.io/software_engineering/principles_of_code_structure/">
        Principles Of Code Structure (external)
        </a>
    </li>
    <li><a href="/loan-payment-calculator">Loan Payment Calculator</a></li>
    <li><a href="/cdmc-interest-rate">Constant Daily Monthly Compounding Interest</a></li>
    <li><a href="/body-fat">Body Fat Calculations</a></li>
    <li><a href="/cowpoke">Cow AI</a></li>
</ul>
