<table class="cashflow-table">
    <caption>{{ table_caption }}</caption>
    <thead>
        <tr>
            {% for col in column_names %}
            <th>
                {{ col }}
            </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for record in table_data %}
            <tr>
                {% for col in column_names %}
                <td>
                    {{ record[col] }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
