<h2>Technicians</h2>
<section>
    <input type="radio" id="tab1" name="tabs" checked>
    <label for="tab1" class="tab-label">Search Technicians</label>
    <input type="radio" id="tab2" name="tabs">
    <label for="tab2" class="tab-label">Add Technician</label>
    <input type="radio" id="tab3" name="tabs">
    <label for="tab3" class="tab-label">View Technician</label>

    <div class="tab-content" id="content1">
        <div style="background-color: lemonchiffon; padding: 15pt;">
        <input class="form-control" type="search"
               name="search_string" placeholder="Begin typing to search Technicians..."
               size="30" style="font-size: 15pt;"
               hx-post="/cowpoke/search-technicians"
               hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
               hx-target="#technician_table">
        <span style="padding-left: 2em;">
        <button class="button-19" role="button" style="width: auto; padding-left: 15pt;"
                hx-get="/cowpoke/all-technicians" hx-target="#technician_table">
        See All Technicians
        </button>
        </span>
        </div>
        <div id="technician_table" style="margin-top: 1em;" hx-get="/cowpoke/all-technicians" hx-trigger="load"></div>
    </div>

    <div class="tab-content" id="content2">
        <form hx-put="/cowpoke/add-technician" hx-target="#technician_table">
            <p>
                <label>Name: <input type="text" name="name" style="font-size: 15pt;" value="Hemi"></label>
                <label style="margin-left: 1em;">Full Name: <input type="text" name="full_name" style="font-size: 15pt;" value="Joseph Bloggs"></label>
            </p>
            <p>
                <label>Phone: <input type="tel" name="phone" style="font-size: 15pt;" value="027 1234 5678"></label>
                <label style="margin-left: 1em;">Email: <input type="email" name="email" style="font-size: 15pt;" value="joebloggs@gmail.com"></label>
            </p>
            <p>
                <label>Postcode: <input type="text" name="postcode" style="font-size: 15pt;" value="LL11 6JB"></label>
            </p>
            <p>
                <label>Address: <input type="text" name="address" style="font-size: 15pt;" size="60" value="123 Main Street, Wrectam"></label>
            </p>
            <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;">
                <label for="tab1">Insert Technician</label>
            </button>
        </form>
    </div>

    <div class="tab-content" id="content3">
        <div id="technician_view"></div>
    </div>
</section>
