<div id="cow_box" class="result-box" style="margin-top: 1em;"
     hx-get="/cowpoke/all-cows-for-farm/{{ record.farm_id }}" hx-target="#cow_table" hx-trigger="load">
    <p>
        ID:&nbsp;<b>{{ record.id }}</b>&emsp;&emsp;
        Tag ID:&nbsp;<b>{{ record.tag_id }}</b>&emsp;&emsp;
        Farm ID:&nbsp;<b>{{ record.farm_id }}</b>&emsp;&emsp;
    </p>
    <p>
        Description:&nbsp;<b>{{ record.description }}</b>&emsp;&emsp;
    </p>
    <details>
        <summary class="summary-button">Edit Cow</summary>
        <form hx-post="/cowpoke/edit-cow" hx-target="#cow_box" hx-swap="outerHTML">
            <input type="hidden" name="id" value={{ record.id }}>
            <input type="hidden" name="farm_id" value={{ record.farm_id }}>
            <p>
                <label>Tag ID: <input type="text" name="tag_id" style="font-size: 15pt;" value="{{ record.tag_id }}"></label>
            </p>
            <p>
                <label>Description: <input type="text" name="description" style="font-size: 15pt;" value="{{ record.description }}"></label>
            </p>
            <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;">
                Save
            </button>
        </form>
    </details>
    <div style="display: flex; justify-content: space-between;  margin-top: 1em; margin-bottom: 1em;">
        <button class="button-19" role="button" style="width: auto;"
                hx-get="/cowpoke/close-cow" hx-target="#cow_box" hx-swap="outerHTML">Close</button>
        <button class="button-19" role="button" style="width: auto; background-color: red;"
                hx-delete={{ ["/cowpoke/cow/", record.id]|join }}
                hx-target="#cow_box"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you want to delete Bull Code {{ record.bull_code}} with ID {{ record.id }}?">
            Delete ID {{ record.id }}
        </button>
    </div>
</div>
