<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cowpoke</title>
    {% include "styles_and_scripts.html" %}
</head>
<body>
    <header>
        <h1 class="title">Cowpoke</h1>
    </header>
    <nav>
        {% include "navigation_bar.html" %}
    </nav>
    <div class="content">
        <p>
            An App to help manage the Artificial Insemination (AI) of dairy cows.  (Apologies to anyone expecting
            a dubious bovine application of so-called Artificial <em>Intelligence.</em>)
        </p>
        <p>
            While this is a Demo website exploring the use of HTMX, this App solves a real-world business case.
            It is developed in consultation with an AI business.
        </p>
        <p style="background-color: pink; padding-left: 1em;">
            NOTE: Data entered will not persist.  After 15 minutes of inactivity, the web server will shut down,
            deleting the database.
        </p>

        <section style="margin-top: 1em;">
            <input type="radio" id="tab-bulls" name="tabs-main" hx-get="cowpoke/bulls" hx-target="#data_content">
            <label for="tab-bulls" class="tab-label-main">Bulls</label>
            <input type="radio" id="tab-techs" name="tabs-main" hx-get="cowpoke/technicians" hx-target="#data_content">
            <label for="tab-techs" class="tab-label-main">Technicians</label>
            <input type="radio" id="tab-farms" name="tabs-main" hx-get="cowpoke/farms" hx-target="#data_content">
            <label for="tab-farms" class="tab-label-main">Farms</label>
            <input type="radio" id="tab-jobs" name="tabs-main" hx-get="cowpoke/jobs" hx-target="#data_content">
            <label for="tab-jobs" class="tab-label-main">Jobs</label>
        </section>
        <div id="data_content"><p>Chosen data will display here.</p></div>

<!--        <div style="margin-top: 1em;">-->
<!--        <button class="button-30" role="button" hx-get="cowpoke/technicians" hx-target="#data_content">Technicians</button>-->
<!--        <button class="button-30" role="button" hx-get="cowpoke/farms" hx-target="#data_content">Farms</button>-->
<!--        </div>-->

<!--        <div id="data_content">Chosen data will display here.</div>-->

    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>