<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cowpoke</title>
    {% include "styles_and_scripts.html" %}
</head>
<body>
    <header>
        <h1 class="title">Cowpoke</h1>
    </header>
    <nav>
        {% include "navigation_bar.html" %}
    </nav>
    <div class="content">
        An App to help manage the work of Artificial Insemination (AI).

        <section style="margin-top: 1em;">
            <input type="radio" id="tab-techs" name="tabs-main" hx-get="cowpoke/technicians" hx-target="#data_content">
            <label for="tab-techs" class="tab-label-main">Technicians</label>
            <input type="radio" id="tab-farms" name="tabs-main" hx-get="cowpoke/farms" hx-target="#data_content">
            <label for="tab-farms" class="tab-label-main">Farms</label>
        </section>
        <div id="data_content"><p>Chosen data will display here.</p></div>

<!--        <div style="margin-top: 1em;">-->
<!--        <button class="button-30" role="button" hx-get="cowpoke/technicians" hx-target="#data_content">Technicians</button>-->
<!--        <button class="button-30" role="button" hx-get="cowpoke/farms" hx-target="#data_content">Farms</button>-->
<!--        </div>-->

<!--        <div id="data_content">Chosen data will display here.</div>-->

    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>