<table class="cashflow-table">
    <caption>{{ table_caption }}</caption>
    <thead>
        <tr>
            <th></th>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for record in table_data %}
            <tr>
                <td><button hx-post={{ ["/cowpoke/technician/", record.id]|join }} hx-target="#technician_box">
                    {{ record.id }}</button></td>
                {% for col in column_names %}
                <td>{{ record[col] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
