<h2>Farms</h2>
<section>
    <input type="radio" id="tab1" name="tabs" checked>
    <label for="tab1" class="tab-label">Search Farms</label>
    <input type="radio" id="tab2" name="tabs">
    <label for="tab2" class="tab-label">Add Farm</label>
    <input type="radio" id="tab3" name="tabs">
    <label for="tab3" class="tab-label">View Farm</label>

    <div class="tab-content" id="content1">
        <div style="background-color: lemonchiffon; padding: 15pt;">
        <input class="form-control" type="search"
               name="search_string" placeholder="Begin typing to search Farms..."
               size="30" style="font-size: 15pt;"
               hx-post="/cowpoke/search-farms"
               hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
               hx-target="#farm_table">
        <span style="padding-left: 2em;">
        <button class="button-19" role="button" style="width: auto; padding-left: 15pt;"
                hx-get="/cowpoke/all-farms" hx-target="#farm_table">
        See All Farms
        </button>
        </span>
        </div>
        <div id="farm_table" style="margin-top: 1em;" hx-get="/cowpoke/all-farms" hx-trigger="load"></div>
    </div>

    <div class="tab-content" id="content2">
        <form hx-put="/cowpoke/add-farm" hx-target="#farm_table">
            <p>
                <label>Name: <input type="text" name="name" style="font-size: 15pt;" size="40" value="Old McDonald's"></label>
            </p>
            <p>
                <label>Business Name: <input type="text" name="business_name" style="font-size: 15pt;" size="40" value="McD's Ltd"></label>
            </p>
            <p>
                <label>Postcode: <input type="text" name="postcode" style="font-size: 15pt;" value="6UL DV8"></label>
                <label>Coordinates: <input type="text" name="coordinates" style="font-size: 15pt;" value="12.345 67.901"></label>
            </p>
            <p>
                <label>Address: <input type="text" name="address" style="font-size: 15pt;" size="60" value="Second gate after the black stump"></label>
            </p>
            <p>
                <label>Contact Person: <input type="text" name="contact_person" style="font-size: 15pt;" value="Farmer Joe"></label>
            </p>
            <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;">
                <label for="tab1">Insert Farm</label>
            </button>
        </form>
    </div>

    <div class="tab-content" id="content3">
        <div id="farm_view"></div>
    </div>
</section>
