<div id="technician_view">
    <h2>Technician {{ record.name }}</h2>
    <div id="technician_box" class="result-box" style="margin-top: 1em;"
     hx-get="/cowpoke/all-technicians" hx-target="#technician_table" hx-trigger="load">
    <p>
        ID:&nbsp;<b>{{ record.id }}</b>&emsp;&emsp;
        Name:&nbsp;<b>{{ record.name }}</b>&emsp;&emsp;
        Full Name:&nbsp;<b>{{ record.full_name }}</b>&emsp;&emsp;
    </p>
    <p>
        Phone:&nbsp;<b>{{ record.phone }}</b>&emsp;&emsp;
        Email:&nbsp;<b>{{ record.email }}</b>&emsp;&emsp;
    </p>
    <p>
        Post Code:&nbsp;<b>{{ record.postcode }}</b>&emsp;&emsp;
    </p>
    <p>
        Address:&nbsp;<b>{{ record.address }}</b>&emsp;&emsp;
    </p>
    <details>
        <summary class="summary-button">Edit Technician</summary>
        <form hx-post="/cowpoke/edit-technician" hx-target="#technician_box" hx-swap="outerHTML">
            <input type="hidden" name="id" value={{ record.id }}>
            <p>
                <label>Name: <input type="text" name="name" style="font-size: 15pt;" value="{{ record.name}}"></label>
                <label>Full Name: <input type="text" name="full_name" style="font-size: 15pt;" value="{{ record.full_name }}"></label>
            </p>
            <p>
                <label>Phone: <input type="tel" name="phone" style="font-size: 15pt;" value="{{ record.phone }}"></label>
                <label>Email: <input type="email" name="email" style="font-size: 15pt;" value="{{ record.email }}"></label>
            </p>
            <p>
                <label>Postcode: <input type="text" name="postcode" style="font-size: 15pt;" value="{{ record.postcode }}"></label>
            </p>
            <p>
                <label>Address: <input type="text" name="address" style="font-size: 15pt;" size="60" value="{{ record.address }}"></label>
            </p>
            <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;">
                Save
            </button>
        </form>
    </details>
    <div style="display: flex; justify-content: flex-end;  margin-top: 1em; margin-bottom: 1em;">
    <button class="button-19" role="button" style="width: auto; background-color: red;"
            hx-delete={{ ["/cowpoke/technician/", record.id]|join }} hx-target="#technician_box"
            hx-confirm="Are you sure you want to delete Technician ID {{ record.id }}?">
        Delete ID {{ record.id }}
    </button>
    </div>
    </div>

    <section>
        <input type="radio" id="tab11" name="tabs-technician" checked>
        <label for="tab11" class="tab-label">Jobs</label>
        <input type="radio" id="tab12" name="tabs-technician">
        <label for="tab12" class="tab-label">Inseminations</label>

        <div class="tab-content" id="content11">
            <div id="jobs-by-technician" hx-get="/cowpoke/jobs-by-technician/{{ record.id }}" hx-trigger="load">
                All Jobs done by this Technician.
            </div>
        </div>
        <div class="tab-content" id="content12">
            <div id="inseminations-by-technician" hx-get="/cowpoke/inseminations-by-technician/{{ record.id }}" hx-trigger="load">
                All Inseminations done by this Technician.
            </div>
        </div>
    </section>

</div>
