<div>
<form hx-post="/cowpoke/add-technician-insert" hx-target="#add_technician">
    <p>
    <label>Technician name: <input type="text" name="name" style="font-size: 15pt;" value="Hemi"></label>
    <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;">
        Insert Technician
    </button>
    <button class="button-19" role="button" style="display: inline; width: auto; margin-left: 1em;"
            hx-get="/cowpoke/add-technician-cancel" hx-target="#add_technician">
        Cancel
    </button>
    </p>
</form>
</div>
