.loan-spec {
    background: Gainsboro;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    padding-block-start: 0.1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-block-end: 0.1em;
    margin-block-end: 1em;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.cashflow-table {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
/*     border: 3px solid black; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cashflow-table caption {
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 0em;
}

.cashflow-table thead {
    background-color: gold;
}

.cashflow-table tbody tr:nth-of-type(odd) {
    background-color: ivory;
}

.cashflow-table tbody tr:nth-of-type(even) {
    background-color: lemonchiffon;
}

.cashflow-table th {
/*    border: 1px solid black;  */
    text-align: center;
}

.cashflow-table td {
/*    border: 1px solid black; */
    text-align: center;
}
