<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annuity Formula Derivation</title>
    {% include "styles_and_scripts.html" %}
</head>
<body>
    <header>
        <h1 class="title">Annuity Formula Derivation</h1>
    </header>
    <nav>
        {% include "navigation_bar.html" %}
    </nav>
    <div class="content">
        <h2>Preamble: Geometric Series Formula</h2>
        <p>
            Recall the finite geometric series:
            $$ S_k = a + ax + ax^2 + ax^3 + ... + ax^{k-1} + ax^k $$

            Multiplying the series by \( x \) gives:
            $$ xS_k = ax + ax^2 + ax^3 + ... + ax^{k} + ax^{k+1} $$

            Thus
            $$
            \begin{align*}
            xS_k - S_k = & \left( ax + ax^2 + ax^3 + ... + ax^{k} + ax^{k+1} \right) \\
                         & - \left( a + ax + ax^2 + ax^3 + ... + ax^{k-1} + ax^k \right)
            \end{align*}
            $$

            Keeping all RHS terms in the same order but moving a couple of brackets:
            $$
            \begin{align*}
            (x - 1)S_k = & \left( ax + ax^2 + ax^3 + ... + ax^{k} \right) + ax^{k+1} - a \\
                       - & \left( ax + ax^2 + ax^3 + ... + ax^k \right)
            \end{align*}
            $$

            The terms in brackets cancel, giving
            $$
                \begin{align*}
                    (x - 1)S_k & = ax^{k+1} - a \\
                    (x - 1)S_k & = a(x^{k+1} - 1)
                \end{align*}
            $$

            Finally
            $$ S_k = a \left( \frac{x^{k+1} - 1}{x - 1} \right) $$

            (Note that there is another equivalent formulation, which is more convenient in some situations.
            But not here; using it leads to an annuity amount with the wrong sign.)
            $$ S_k = a \left( \frac{x^{k+1} - 1}{x - 1} \right)
                   = a \left( \frac{(x^{k+1} - 1)(-1)}{(x - 1)(-1)} \right)
                   = a \left( \frac{1 - x^{k+1}}{1 - x} \right) $$
        </p>

        <h2>Annuity Formula</h2>
        <p>Define:</p>
        <dl>
            <dd>\(P:\) Principal (amount borrowed)</dd>
            <dd>\(n:\) Loan term in months</dd>
            <dd>\(r:\) The monthly interest rate (as a fraction, not percentage)</dd>
            <dd>\(A:\) Annuity (constant amount paid back each month)</dd>
        </dl>
        <p>
            Consider the trivial case, a loan with a term of just one month.  Then the amount owed after one month
            will be \( P(1 + r) \), which will be fully paid off by the single annuity:
            $$ \mathrm{Term} \; n = 1: \;\;\;\; P(1 + r) - A = 0 $$

            For a loan term of two months, the amount owing after two months will be the LHS of the equation above
            multiplied by \( (1 + r) \), which will be fully paid off by the second annuity payment:
            $$ \begin{align*}
                \mathrm{Term} \; n = 2: \;\;\;\; \left[ P(1 + r) - A \right](1 + r) - A & = 0 \\
            P(1 + r)^2 - A(1 + r) - A & = 0
               \end{align*}
            $$

            Similarly, for a loan term of three months, the amount owing after three months will be the LHS of the
            equation above multiplied by \( (1 + r) \), which will be fully paid off by the third annuity payment:
            $$ \begin{align*}
                \mathrm{Term} \; n = 3: \;\;\;\; \left[ P(1 + r)^2 - A(1 + r) - A \right](1 + r) - A & = 0 \\
                                                 P(1 + r)^3 - A(1 + r)^2 - A(1 + r) - A & = 0
               \end{align*}
            $$

            We can now see a general pattern:
            $$
            \mathrm{Term} \; n: \;\;\;\; P(1 + r)^{n} - A(1 + r)^{n-1} ... - A(1 + r)^2 - A(1 + r) - A = 0
            $$
            Or
            $$
            \mathrm{Term} \; n: \;\;\;\; P(1 + r)^{n} - A \left[ (1 + r)^{n-1} + ... + (1 + r)^2 + (1 + r) + 1 \right] = 0
            $$

            The term in the square brackets is a finite geometric series.  Recall the formula for the sum of a finite
            geometric series:
            $$ S_k = a \left( \frac{ x^{k+1} - 1 }{ x - 1 } \right) = ax^k + ax^{k-1} + ... + ax^2 + ax + a $$

            Substitute \( a = A \) and \( x = (1 + r) \). Further substitute \( k = n - 1 \) so that \( k + 1 = n \),
            and the term in the square brackets becomes:
            $$ A \left( \frac{ (1 + r)^{n} - 1}{ (1 + r) - 1 } \right) $$
            Which simplifies to:
            $$ A \left( \frac{ (1 + r)^{n} - 1 }{ r } \right) $$
            So for a loan of term \( n \):
            $$
            \mathrm{Term} \; n: \;\;\;\; P(1 + r)^{n} - A \left( \frac{ (1 + r)^{n} - 1 }{ r } \right) = 0
            $$
            Rearranging to solve for \( A \):
            $$
            P(1 + r)^{n} = A \left( \frac{ (1 + r)^{n} - 1 }{ r } \right)
            $$
            $$
            P(1 + r)^{n} \left( \frac{r}{ (1 + r)^{n} - 1 } \right) = A
            $$
            Finally, the Annuity Formula:
            $$
            A = P \frac{r (1 + r)^{n}}{ (1 + r)^{n} - 1 }
            $$
            QED.
        </p>
    </div>
    <div class="deadspace"></div>
    <footer>Written with HTMX served by FastAPI.</footer>
</body>
</html>
